html {
    font-family: 'Lato', serif;
    color: #fff;
}

body {
    background: url(./img/bg1.jpg) center center / cover no-repeat fixed
}

header {
    margin-bottom: 50px;
}

button {
    /* Get rid of default styles */
    border: none;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.2;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Ignite Button styles */
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    transition: background 250ms ease-in-out, color 150ms ease, transform 150ms ease;

    background-color: #eee;
    color: #000;
}

button:hover {
    background: #ff6900;
    color: #fff;
}

button:active {
    transform: scale(0.95);
}

button svg, button svg {
    fill: currentColor;
}

.centre {
    text-align: center;
}

.title {
    font-family: 'Lato', serif;
    font-weight: 900;
    font-size: 4em;
    color: #ff6900;
    margin: 10px 0;
}

.back-link {
    margin-top: 0;
}

.info-list {
    font-size: 17.5px;
}

.info-list li {
    padding-bottom: 10px;
}

h2, h3, h4 {
    margin-bottom: 0.1em;
    font-weight: 100;
}

.page-header h2 {
    font-size: 2em;
    margin-top: 5px;
}

/* Links Start */
a:link {
    color: #ccc;
    text-decoration: none;
}

a:visited {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

a:active {
    color: #fff;
    text-decoration: underline;
}
/* Links End */

.info-page {
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.avatar > span {
    font-style: italic;
}

.page-header__posting-as > .avatar {
    display: inline;
}

.avatar > .poster-label {
    margin-left: 0.5rem;
    font-style: normal;
}

.page-header__posting-as img {
    display: inline;
}

article {
    text-align: justify;
}

article.post {
    /* Centre */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

    /* Sizing */
    max-width: 800px;
    min-height: 300px;
    overflow: hidden;

    /* Colours */
    background-color: white;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

article.post.with-attachment {
    display: flex;
}

article.post > .post__body {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 300px;
    padding: 10px;
}

article.post > .post__body > p {
    height: 100%;
    white-space: pre-line;
}

article.post.with-attachment > .post__body {
    width: 120%;
}

article.post.only-text > .post__body > p {
    font-size: 1.5rem;
}

article.post.with-attachment > a {
    width: 100%;
    overflow: hidden;
}

article.post.with-attachment .attachment {
    flex: 1;
    width: calc(100% + 1px);
    height: 100%;
    transition: all 0.7s ease;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

article.post.with-attachment .attachment:hover {
    transform: scale(1.05);
}

.post__footer {
    position: absolute;
    bottom: 10px;
}

.post__footer > * {
    margin-right: 1rem;
}

.post a {
    color: #333;
}

.post a:hover {
    color: #000;
}

.stoke-icon {
    width: 32px;
    height: 32px;
    vertical-align:middle
}

/* BEM Stuff from here on out */
.page-title__subtitle {
    font-weight: 100;
    font-size: 1rem;
}
